ul {
	padding: 0;
	list-style-type: none;
}

li {
	padding: 6px 10px;
	border: 1px solid #0d6efd;
	margin: 10px auto;
}

li h4 {
	color: #dc3545;
	margin: 0;
	text-transform: capitalize;
}

li p {
	margin: 8px 0 0;
}